RewriteBase /tripiante/
RewriteEngine on
Rewriterule ^accion-apariencia/paso1(.*)$ index.php?action=profile2
Rewriterule ^accion-apariencia/paso2(.*)$ index.php?action=profile2
Rewriterule ^accion-apariencia/paso3(.*)$ index.php?action=profile2
Rewriterule ^accion-apariencia/paso4(.*)$ index.php?action=profile2
Rewriterule ^admin-denuncias/imagen/pag-(.*)$ index.php?action=denuncias;m=imagen;pag=$1
Rewriterule ^admin-denuncias/post/pag-(.*)$ index.php?action=denuncias;pag=$1
Rewriterule ^admin-denuncias/user/pag-(.*)$ index.php?action=denuncias;m=user;pag=$1
Rewriterule ^admin-denuncias/comunidades/pag-(.*)$ index.php?action=denuncias;m=comunidades;pag=$1
Rewriterule ^admin-denuncias/imagen(.*)$ index.php?action=denuncias;m=imagen
Rewriterule ^admin-denuncias/post(.*)$ index.php?action=denuncias
Rewriterule ^admin-denuncias/user(.*)$ index.php?action=denuncias;m=user
Rewriterule ^admin-denuncias/comunidades(.*)$ index.php?action=denuncias;m=comunidades
Rewriterule ^admin-denuncias/eliminar(.*)$ index.php?action=denuncias;m=eliminar
Rewriterule ^admin-denuncias(.*)$ index.php?action=denuncias
Rewriterule ^admin(.*)$ index.php?action=admin
Rewriterule ^agregar(.*)$ index.php?action=post;board=1
Rewriterule ^amigos-agregar/(.*)$ index.php?action=buddies;sa=add;user=$1
Rewriterule ^amigos-eliminar/(.*)/$ index.php?action=buddies;sa=remove;user=$1
Rewriterule ^amigos-eliminar/(.*)$ index.php?action=buddies;sa=remove;user=$1
Rewriterule ^ayuda/articulo/(.*)$ index.php?action=articles;sa=view;article=$1
Rewriterule ^ayuda/categoria/(.*)$ index.php?action=articles;cat=$1
Rewriterule ^ayuda(.*)$ index.php?action=articles
Rewriterule ^avatar\.gif$ images/avatar\.png
Rewriterule ^bajar-youtube/(.*)/flv(.*)$ web/archivos/raiz/Youtube.php?item=$1&type=0&btget=Descargar+Video
Rewriterule ^bajar-youtube/(.*)/mp4(.*)$ web/archivos/raiz/Youtube.php?item=$1&type=18&btget=Descargar+Video
Rewriterule ^bajar-youtube/(.*)/3gp(.*)$ web/archivos/raiz/Youtube.php?item=$1&type=13&btget=Descargar+Video
Rewriterule ^ban-user/(.*)$ index.php?action=ban;sa=add;u=$1
Rewriterule ^buscar/$ index.php?action=search2
Rewriterule ^buscar/&search=(.*)$ index.php?action=search2;search=$1
Rewriterule ^buscar.php$ web/tp-buscar.php
Rewriterule ^chat(.*)$ index.php?action=chat
Rewriterule ^categoria/(.*)/pag-(.*)$ index.php?categoria=$1&pag=$2
Rewriterule ^categoria/(.*)/$ index.php?categoria=$1
Rewriterule ^categoria/(.*)$ index.php?categoria=$1
Rewriterule ^comentario-img/eliminar(.*)$ index.php?action=do;m=eliminarci
Rewriterule ^comentario/eliminar/(.*)$ index.php?action=do;m=eliminarc
Rewriterule ^comentario-img/enviar/$ web/tp-comentar-img.php
Rewriterule ^comentario/enviar(.*)$ web/tp-comentar-post.php
Rewriterule ^conectados(.*)$ index.php?action=who
Rewriterule ^conectandose(.*)$ index.php?action=login2
Rewriterule ^contactanos/enviando(.*)$ index.php?action=contact
Rewriterule ^contactanos(.*)$ index.php?action=contact
Rewriterule ^comunidades/(.*)/(.*)/(.*)\.html$ index.php?action=comunidades;sa=vertema;id=$1;tema=$2
Rewriterule ^comunidades/(.*)/adm-miembros/(.*)$ index.php?action=comunidades;sa=adminmiembro;id=$1;us=$2
Rewriterule ^comunidades/$ index.php?action=comunidades
Rewriterule ^comunidades$ index.php?action=comunidades
Rewriterule ^comunidades/(.*)/borrar(.*)$ index.php?action=comunidades;sa=borrar;id=$1
Rewriterule ^comunidad-agregada/(.*)/$ index.php?action=do;m=comunidadagregada;id=$1
Rewriterule ^comunidades/agregando/(.*)/$ index.php?action=comunidades;sa=nuevotema2;id=$1
Rewriterule ^comunidades/creando/$ index.php?action=comunidades;sa=crear2
Rewriterule ^crear-comunidades(.*)$ index.php?action=comunidades;sa=crear
Rewriterule ^comunidades/(.*)/publicitar(.*)$ index.php?action=comunidades;sa=publicitar;id=$1
Rewriterule ^comunidades/publicitar2(.*)$ index.php?action=comunidades;sa=publicitar2
Rewriterule ^comunidades/(.*)/denunciar(.*)$ index.php?action=comunidades;sa=denunciar;id=$1
Rewriterule ^comunidades/(.*)/crear-tema(.*)$ index.php?action=comunidades;sa=nuevotema;id=$1
Rewriterule ^comunidades/editar-tema2(.*)$ index.php?action=comunidades;sa=editartema2
Rewriterule ^comunidades/editar-tema/(.*)$ index.php?action=comunidades;sa=editartema;id=$1
Rewriterule ^comunidades/(.*)/editar(.*)$ index.php?action=comunidades;sa=editar;id=$1
Rewriterule ^comunidades/(.*)/miembros/pag-(.*)$ index.php?action=comunidades;sa=vermiembros;id=$1;pag=$2
Rewriterule ^comunidades/(.*)/miembros(.*)$ index.php?action=comunidades;sa=vermiembros;id=$1
Rewriterule ^comunidades/(.*)\.(.*)/$ index.php?action=comunidades;sa=comunidad;id=$1;pag=$2
Rewriterule ^comunidades/(.*)/no-oficial(.*)$ web/tp-comunidad-nooficial.php?id=$1
Rewriterule ^comunidades/(.*)/oficial(.*)$ web/tp-comunidad-oficial.php?id=$1
Rewriterule ^comunidades/categoria/(.*)/pag-(.*)$ index.php?action=comunidades;categoria=$1;pag=$2
Rewriterule ^comunidades/categoria/(.*)/$ index.php?action=comunidades;categoria=$1
Rewriterule ^comunidades/categoria/(.*)$ index.php?action=comunidades;categoria=$1
Rewriterule ^comunidades/(.*)/pag-(.*)$ index.php?action=comunidades;sa=comunidad;id=$1;pag=$2
Rewriterule ^comunidades/(.*)/$ index.php?action=comunidades;sa=comunidad;id=$1
Rewriterule ^comunidades/(.*)$ index.php?action=comunidades;sa=comunidad;id=$1
Rewriterule ^comunidades/pag-(.*)$ index.php?action=comunidades;pag=$1
Rewriterule ^denuncia/enviada(.*)$ index.php?action=denunciar&page=enviada
Rewriterule ^denuncia/enviar(.*)$ index.php?action=do;m=enviardenuncia
Rewriterule ^denuncia/imagen-(.*)$ index.php?action=denunciar2;id=$1;tipo=imagen
Rewriterule ^denuncia/post-(.*)$ index.php?action=denunciar;id=$1;tipo=post
Rewriterule ^denunciar-usuario/(.*)$ index.php?action=denunciar3;id=$1;tipo=user
Rewriterule ^editar-apariencia/paso1(.*)$ index.php?action=profile;sa=paso1
Rewriterule ^editar-apariencia/paso2(.*)$ index.php?action=profile;sa=paso2
Rewriterule ^editar-apariencia/paso3(.*)$ index.php?action=profile;sa=paso3
Rewriterule ^editar-apariencia/paso4(.*)$ index.php?action=profile;sa=paso4
Rewriterule ^editar-imagen/id-(.*)$ index.php?action=profile;sa=editarimagen;id=$1
Rewriterule ^editar-usuario/(.*)$ index.php?action=profile;user=$1;sa=perfil
Rewriterule ^editar-perfil/avatar(.*)$ index.php?action=profile;sa=avatar
Rewriterule ^editar-perfil(.*)$ index.php?action=profile;sa=perfil
Rewriterule ^editar-post/id-(.*)$ index.php?action=post;msg=$1;topic=$1
Rewriterule ^eliminar-imagen/(.*)/$ index.php?action=gallery;sa=delete2;id=$1
Rewriterule ^eliminar-muro/(.*)/$ web/tp-eliminar-muro.php?id=$1
Rewriterule ^eliminar-post/(.*)/$ index.php?action=removetopic2;topic=$1
Rewriterule ^email-verificar/$ web/tp-email-verificar.php
Rewriterule ^emoticones/$ web/tp-emoticones.php
Rewriterule ^enlazanos(.*)$ index.php?action=enlazanos
Rewriterule ^enviar-avatar(.*)$ index.php?action=profile2
Rewriterule ^enviar-muro(.*)$ web/tp-enviar-muro.php
Rewriterule ^enviar-quehago(.*)$ web/tp-enviar-quehago.php
Rewriterule ^enviar-a-amigo/enviando-img/(.*)$ index.php?action=sendtopic2;img=$1
Rewriterule ^enviar-a-amigo/imagen-(.*)$ index.php?action=sendtopic2;img=$1
Rewriterule ^enviar-a-amigo/enviando-post/(.*)$ index.php?action=sendtopic;topic=$1
Rewriterule ^enviar-a-amigo/(.*)$ index.php?action=sendtopic;topic=$1
Rewriterule ^estado/mcontento/$ web/tp-editar-estado.php?estado=mcontento
Rewriterule ^estado/contento/$ web/tp-editar-estado.php?estado=contento
Rewriterule ^estado/cons/$ web/tp-editar-estado.php?estado=sueno
Rewriterule ^estado/desc/$ web/tp-editar-estado.php?estado=descansar
Rewriterule ^estado/triste/$ web/tp-editar-estado.php?estado=triste
Rewriterule ^estado/enferm/$ web/tp-editar-estado.php?estado=enferm
Rewriterule ^estado/emusic/$ web/tp-editar-estado.php?estado=emusic
Rewriterule ^estado/qestado/$ web/tp-editar-estado.php?estado=
Rewriterule ^favs-agregar.php$ web/tp-favs-agregar.php
Rewriterule ^favoritos/eliminar/$ index.php?action=bookmarks;sa=delete
Rewriterule ^favoritos/imagen/eliminar/$ index.php?action=bookmarks2;sa=delete
Rewriterule ^favoritos/imagen/pag-(.*)$ index.php?action=bookmarks2;pag=$1
Rewriterule ^favoritos/imagen(.*)$ index.php?action=bookmarks2
Rewriterule ^favoritos/post/pag-(.*)$ index.php?action=bookmarks;pag=$1
Rewriterule ^favoritos/post(.*)$ index.php?action=bookmarks
Rewriterule ^favoritos/$ index.php?action=bookmarks
Rewriterule ^google-search/$ index.php?action=google
Rewriterule ^google-buscar.php$ web/tp-google-buscar.php
Rewriterule ^hist-mod(.*)$ index.php?action=modlog
Rewriterule ^imagenes/ver/(.*)/$ index.php?action=gallery;sa=view;id=$1
Rewriterule ^imagenes/ver/(.*)$ index.php?action=gallery;sa=view;id=$1
Rewriterule ^imagenes/agregar/enviar(.*)$ index.php?action=gallery;sa=add2
Rewriterule ^imagenes/agregar(.*)$ index.php?action=profile;sa=agregarimagen
Rewriterule ^imagenes/editar/enviar(.*)$ index.php?action=gallery;sa=edit2;id=$1
Rewriterule ^imagenes/(.*)/pag-(.*)$ index.php?action=gallery;user=$1;pag=$2
Rewriterule ^imagenes/(.*)$ index.php?action=gallery;user=$1
Rewriterule ^images/post/icono_25\.gif$ images/favicon\.png
Rewriterule ^imprimir/post/(.*)$ index.php?action=printpage;topic=$1
Rewriterule ^imprimir/imagen/(.*)$ index.php?action=printpage2;img=$1
Rewriterule ^ingresar(.*)$ index.php?action=login
Rewriterule ^logos/(.*)\.(.*)$ images/logos/$1\.$2
Rewriterule ^mapa-del-sitio(.*)$ index.php?action=sitemap
Rewriterule ^mensajes/leer/(.*)$ index.php?action=pm;f=inbox;l=-1;p=$1
Rewriterule ^mensajes/enviados/leer/(.*)$ index.php?action=pm;f=outbox;l=-1;p=$1
Rewriterule ^mensajes/a/(.*)$ index.php?action=pm;sa=send;to=$1
Rewriterule ^mensajes/enviar(.*)$ index.php?action=pm;sa=send2
Rewriterule ^mensajes/enviados/eliminar-(.*)$ index.php?action=pm;f=outbox;sa=pmactions;pm_actions[$1]=delete
Rewriterule ^mensajes/enviados(.*)$ index.php?action=pm;f=outbox
Rewriterule ^mensajes/recibidos/eliminar-(.*)$ index.php?action=pm;sa=pmactions;pm_actions[$1]=delete
Rewriterule ^mensajes/recibidos(.*)$ index.php?action=pm
Rewriterule ^mensajes/responder/a/(.*)/id/(.*)$ index.php?action=pm;sa=send;pmsg=$2;u=$1
Rewriterule ^mensajes/redactar(.*)$ index.php?action=pm;sa=send
Rewriterule ^mensajes(.*)$ index.php?action=pm
Rewriterule ^mis-notas/agregar(.*)$ index.php?action=profile;sa=agregarnota
Rewriterule ^mis-notas/editando(.*)$ index.php?action=notepad
Rewriterule ^mis-notas/eliminar-(.*)$ index.php?action=notepad;sa=delete;id=$1
Rewriterule ^mis-notas/enviar(.*)$ index.php?action=notepad;sa=add;nojs
Rewriterule ^mis-notas/ver-(.*)/$ index.php?action=notepad;sa=edit;id=$1
Rewriterule ^mis-notas/pag-(.*)$ index.php?action=notepad;pag=$1
Rewriterule ^mis-notas(.*)$ index.php?action=notepad
Rewriterule ^monitoreo-user(.*)$ index.php?action=monitor
Rewriterule ^nick-verificar/$ web/tp-nick-verificar.php
Rewriterule ^noticias/editar(.*)$ index.php?action=news;sa=editnews
Rewriterule ^noticias/enviar-correo(.*)$ index.php?action=news;sa=mailingsend
Rewriterule ^noticias/configuracion(.*)$ index.php?action=news;sa=settings
Rewriterule ^noticias/correo-miembros(.*)$ index.php?action=news;sa=mailingmembers
Rewriterule ^noticias/correo-componer(.*)$ index.php?action=news;sa=mailingcompose
Rewriterule ^noticias(.*)$ index.php?action=news
Rewriterule ^pag-(.*)$ index.php?pag=$1
Rewriterule ^perfil-editando(.*)$ index.php?action=profile2
Rewriterule ^perfil/(.*)/amigos-en-comun-pag-(.*)$ index.php?action=profile;user=$1;sa=buddies2;pag=$2
Rewriterule ^perfil/(.*)/amigos-en-comun(.*)$ index.php?action=profile;user=$1;sa=buddies2
Rewriterule ^perfil/(.*)/lista-de-amigos-pag-(.*)$ index.php?action=profile;user=$1;sa=buddies;pag=$2
Rewriterule ^perfil/(.*)/lista-de-amigos(.*)$ index.php?action=profile;user=$1;sa=buddies
Rewriterule ^perfil/(.*)/muro-pag-(.*)$ index.php?action=profile;user=$1;pag=$2
Rewriterule ^perfil/(.*)/muro(.*)$ index.php?action=profile;user=$1
Rewriterule ^perfil/(.*)/apariencia(.*)$ index.php?action=profile;user=$1;sa=apariencia
Rewriterule ^perfil/(.*)/comunidades(.*)$ index.php?action=profile;user=$1;sa=comunidades
Rewriterule ^perfil/(.*)$ index.php?action=profile;user=$1
Rewriterule ^perfil/(.*)/$ index.php?action=profile;user=$1
Rewriterule ^perfil(.*)$ index.php?action=profile
Rewriterule ^permitir-mp(.*)$ web/tp-permitir-mp.php
Rewriterule ^post/(.*)$ index.php?topic=$1
Rewriterule ^post-agregado/(.*)$ index.php?action=do;m=post-agregado;idpost=$1
Rewriterule ^post-agregar(.*)$ index.php?action=post2;start=0
Rewriterule ^post-editado/(.*)$ index.php?action=do;m=post-editado;idpost=$1
Rewriterule ^post-editar(.*)$ index.php?action=post2;start=0
Rewriterule ^protocolo(.*)$ index.php?action=protocolo
Rewriterule ^rastrear-user/(.*)$ index.php?action=profile;sa=trackUser;user=$1
Rewriterule ^respuesta/eliminar/(.*)$ index.php?action=do;m=eliminarres
Rewriterule ^respuesta/enviar/(.*)$ web/tp-responder-tema.php
Rewriterule ^recomendando(.*)$ index.php?action=recomendar
Rewriterule ^recomendar(.*)$ index.php?action=recomendar
Rewriterule ^recuperar-pass/enviando(.*)$ index.php?action=reminder;sa=mail
Rewriterule ^recuperar-pass(.*)$ index.php?action=reminder
Rewriterule ^registrarse(.*)$ index.php?action=register
Rewriterule ^registrandose(.*)$ index.php?action=register2
Rewriterule ^rss/ultimos-post(.*)$ web/rss/ultimos-post.php
Rewriterule ^rss/poster(.*)$ web/rss/poster.php
Rewriterule ^rss/ultimos-comment(.*)$ web/rss/ultimos-comment.php
Rewriterule ^rss/post-comments(.*)$ web/rss/post-comments.php
Rewriterule ^rss/post-comment/(.*)$ web/rss/post-comment.php?id=$1
Rewriterule ^rss/post-visitas(.*)$ web/rss/post-visitas.php
Rewriterule ^rss/post-puntos(.*)$ web/rss/post-puntos.php
Rewriterule ^rss/post-user/(.*)$ web/rss/post-user.php?id=$1
Rewriterule ^rss/ultimos-temas(.*)$ web/rss/ultimos-temas.php
Rewriterule ^rss/img-comentadas(.*)$ web/rss/img-comentadas.php
Rewriterule ^rss/img-puntos(.*)$ web/rss/img-puntos.php
Rewriterule ^rss/img-visitas(.*)$ web/rss/img-visitas.php
Rewriterule ^rss/muro-cmt(.*)$ web/rss/muro-cmt.php
Rewriterule ^rss/temas-comment/(.*)$ web/rss/temas-comment.php?id=$1
Rewriterule ^rss/user-img(.*)$ web/rss/user-img.php
Rewriterule ^rss/user-pts(.*)$ web/rss/user-pts.php
Rewriterule ^rss/user-cmt(.*)$ web/rss/user-cmt.php
Rewriterule ^salir(.*)$ index.php?action=logout
Rewriterule ^tags-alfa(.*)$ index.php?action=tags;order=1
Rewriterule ^tags-importancia(.*)$ index.php?action=tags;order=2
Rewriterule ^tags/$ index.php?action=tags
Rewriterule ^tags/(.*)$ index.php?action=searchtag2;search=$1
Rewriterule ^tema-agregado/(.*)$ index.php?action=do;m=temaagregado;id=$1
Rewriterule ^tops(.*)$ index.php?action=stats
Rewriterule ^user-post/(.*)/pag-(.*)$ index.php?action=profile;sa=post;user=$1;pag=$2
Rewriterule ^user-post/(.*)$ index.php?action=profile;sa=post;user=$1
Rewriterule ^user-comment/(.*)/pag-(.*)$ index.php?action=profile;sa=comentarios;user=$1;pag=$2
Rewriterule ^user-comment/(.*)$ index.php?action=profile;sa=comentarios;user=$1
Rewriterule ^user-comment-img/(.*)/pag-(.*)$ index.php?action=profile;sa=comentariosimg;user=$1;pag=$2
Rewriterule ^user-comment-img/(.*)$ index.php?action=profile;sa=comentariosimg;user=$1
Rewriterule ^ver-ip/(.*)$ index.php?action=trackip;searchip=$1
Rewriterule ^vista-previa(.*)$ web/tp-vista-previa.php
Rewriterule ^votar-post/(.*)$ web/tp-votar-post.php
Rewriterule ^votar-img(.*)$ web/tp-votar-img.php
Rewriterule ^web/enlazanos/(.*)\.gif$ images/enlazanos/$1\.gif
Rewriterule ^widget(.*)$ index.php?action=widget
Rewriterule ^wget/(.*)$ web/widget/$1
Rewriterule ^wget/$ web/widget/
Rewriterule ^wget(.*)$ web/widget/$1
Rewriterule ^terminos-y-condiciones(.*)$ index.php?action=tos

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^foro\/?$ "http\:\/\/tripiante\.net\/" [R=301,L]

